In [1]:
import torch
import gpytorch
from matplotlib import pyplot as plt
import math
import pandas as pd
%matplotlib inline
%load_ext autoreload
%autoreload 2

In [7]:
df = pd.read_csv("https://www.ndbc.noaa.gov/data/realtime2/46268.txt")

  #YY  MM DD hh mm WDIR WSPD GST  WVHT   DPD   APD MWD   PRES  ATMP  WTMP  DEWP  VIS PTDY  TIDE
0  #yr  mo dy hr mn degT m/s  m/s     m   sec   s...
1  2022 06 10 22 30  MM   MM   MM   0.5    13   4...
2  2022 06 10 22 00  MM   MM   MM   0.5    13   5...
3  2022 06 10 21 30  MM   MM   MM   0.4    13   4...
4  2022 06 10 21 00  MM   MM   MM   0.4    13   5...