In [1]:
import pandas as pd
import glob

In [14]:
# list_of_file = glob.glob('../data/*.csv')
list_of_file = glob.glob('../data/*.feather')
# file_of_interest = list_of_file[0]
# print(file_of_interest)
# df = pd.read_csv(file_of_interest, low_memory=False)
# df = pd.read_feather(file_of_interest)
# df

In [16]:
# list_of_file = glob.glob('../data/*.csv')
out_df = pd.DataFrame()
for file in list_of_file:
	# temp_df = pd.read_csv(file, low_memory=False)
	temp_df = pd.read_feather(file)
	out_df = pd.concat([out_df, temp_df], ignore_index=True)
out_df.to_feather('../data/combined_data.feather')
out_df

,time,wind_dir,wind_spd,gust,wave_height,dominant_wpd,average_wpd,mean_wave_dir,air_pressure,air_temperature,sea_surface_temperature,dewpt_temperature,visibility,water_level
0,1.514765e+09,999.0,99.0,99.0,0.45,10.53,7.67,262.0,9999.0,999.0,16.400000,999.0,99.0,99.0
1,1.514767e+09,999.0,99.0,99.0,0.51,10.53,7.71,255.0,9999.0,999.0,16.400000,999.0,99.0,99.0
2,1.514768e+09,999.0,99.0,99.0,0.47,11.11,7.01,255.0,9999.0,999.0,16.200001,999.0,99.0,99.0
3,1.514770e+09,999.0,99.0,99.0,0.51,10.53,6.39,254.0,9999.0,999.0,16.200001,999.0,99.0,99.0
4,1.514772e+09,999.0,99.0,99.0,0.52,9.88,5.28,255.0,9999.0,999.0,16.200001,999.0,99.0,99.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
259918,1.677130e+09,999.0,99.0,99.0,2.30,7.00,99.00,999.0,9999.0,999.0,12.400000,999.0,99.0,99.0
259919,1.677132e+09,999.0,99.0,99.0,2.10,7.00,99.00,999.0,9999.0,999.0,12.300000,999.0,99.0,99.0
259920,1.677134e+09,999.0,99.0,99.0,1.90,6.00,99.00,999.0,9999.0,999.0,12.200000,999.0,99.0,99.0
259921,1.677135e+09,999.0,99.0,99.0,1.80,6.00,99.00,999.0,9999.0,999.0,12.100000,999.0,99.0,99.0
259922,1.677137e+09,999.0,99.0,99.0,1.70,6.00,99.00,999.0,9999.0,999.0,12.100000,999.0,99.0,99.0

In [17]:
# combined_df = pd.read_csv('../data/combined_data.csv')
# combined_df
out_df

,time,wind_dir,wind_spd,gust,wave_height,dominant_wpd,average_wpd,mean_wave_dir,air_pressure,air_temperature,sea_surface_temperature,dewpt_temperature,visibility,water_level
0,1.514765e+09,999.0,99.0,99.0,0.45,10.53,7.67,262.0,9999.0,999.0,16.400000,999.0,99.0,99.0
1,1.514767e+09,999.0,99.0,99.0,0.51,10.53,7.71,255.0,9999.0,999.0,16.400000,999.0,99.0,99.0
2,1.514768e+09,999.0,99.0,99.0,0.47,11.11,7.01,255.0,9999.0,999.0,16.200001,999.0,99.0,99.0
3,1.514770e+09,999.0,99.0,99.0,0.51,10.53,6.39,254.0,9999.0,999.0,16.200001,999.0,99.0,99.0
4,1.514772e+09,999.0,99.0,99.0,0.52,9.88,5.28,255.0,9999.0,999.0,16.200001,999.0,99.0,99.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
259918,1.677130e+09,999.0,99.0,99.0,2.30,7.00,99.00,999.0,9999.0,999.0,12.400000,999.0,99.0,99.0
259919,1.677132e+09,999.0,99.0,99.0,2.10,7.00,99.00,999.0,9999.0,999.0,12.300000,999.0,99.0,99.0
259920,1.677134e+09,999.0,99.0,99.0,1.90,6.00,99.00,999.0,9999.0,999.0,12.200000,999.0,99.0,99.0
259921,1.677135e+09,999.0,99.0,99.0,1.80,6.00,99.00,999.0,9999.0,999.0,12.100000,999.0,99.0,99.0
259922,1.677137e+09,999.0,99.0,99.0,1.70,6.00,99.00,999.0,9999.0,999.0,12.100000,999.0,99.0,99.0